
// variables to override framewors
$brand-font-primary: 'Inter',Helvetica,Arial,sans-serif;
$brand-font-secondary: $brand-font-primary;
$brand-font-accent: $brand-font-primary;

//@NOTE: customize this as needed for setup
$symbol-font-path: '/assets/plugins/framework/dist/fonts/fw-icons';


$brand-color-background-alt: #E9EDED;
$brand-color-base: #01217C;
// $brand-color-base-alt: #696D79;
$brand-color-base-alt: #4D63A3;
$brand-color-primary: #0098FD;
// $brand-color-primary-light: #7FB0EA;
$brand-color-secondary: #663FEF;
$brand-color-accent: #3F61F5;
$brand-color-error: #FD6666; //error
$brand-color-caution: #d3b404;
$brand-color-success: #00C444;
$brand-color-success-dark: #00A535;
$brand-color-neutral: #858FA2;

$body-scrollbar-track-background: var(--fw-color-neutral-lighter);
$body-scrollbar-thumb-background: var(--fw-theme-color);
$body-scrollbar-thumb-background-hover: var(--fw-theme-color-contrast);

$box-shadow-base: 0px 0px 10px -6px !default;
$box-shadow-mild: 0px 0px 20px -5px !default;
$box-shadow-spicy: 0px 0px 20px -10px !default;

$body-font-size: 14px;
$body-font-size-small: 12px;
// $body-font-size-large: 28px;

$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 19px;

$input-height-small: 12px;



$gutter-base: 20px;
$gutter-large: 30px;
$gutter-small: 10px;
$gutter-micro: 5px;

$border-radius-base: 15px;
$border-radius-small: $border-radius-base * 0.5;
$border-radius-large: $gutter-base;


$special-primary-font-size: 59px;
$special-secondary-font-size: 38px;
$lead-font-size: 28px;
$special-primary-font-size-mobile: 49px;
$special-secondary-font-size-mobile: $special-secondary-font-size;
$lead-font-size-mobile: 24px;

$input-height: 50px;
$input-height-large: $input-height;
$input-height-small: 32px;
$input-select-dropdown-color: currentColor;
$input-gutter-x: 1.5em;

$input-placeholder-color: inherit;

$input-label-color:  var(--fw-theme-color-contrast);
$input-label-font-weight:  normal;

$input-font-size-large: 26px;
$btn-gutter-x: $input-gutter-x;
// $btn-height: 50px;
// $btn-height-large: 50px;
// $btn-height-small: 45px;

$nav-height: 50px;
$nav-padding-x: $gutter-base + 5px;
$nav-current-size: 100%;
$nav-font-size: 16px;
$nav-icon-width: $nav-font-size * 1.5;
$nav-icon-height: $nav-font-size * 1.5;
$nav-current-gradient-start: var(--fw-color-background-alpha-1);
$nav-current-gradient-end: var(--fw-color-background-alpha-1);
$nav-color: var(--fw-theme-foreground);
$nav-color-hover: var(--fw-theme-color);
$nav-background: var(--fw-theme-background-contrast);
$nav-background-inverse: var(--fw-theme-background-contrast);

$tabs-border-color: transparent;
$tabs-font-weight: inherit;
$tabs-font-size: 19px;
$tabs-current-color: var(--fw-color-accent);

$table-cell-border-color: var(--fw-color-neutral-alpha-3);

$container-gutter: $gutter-large + $gutter-base;
$container-gutter-wide: $container-gutter;
$container-gutter-slim: $gutter-large * 2;
$container-max-width: 1450px;
$container-gutter-mobile: $gutter-base;

$tag-border-radius: $border-radius-small * .5;
$tag-text-transform: none;
$tag-font-size: 12px;
// $tag-font-weight: 400;

$module-border-color: var(--fw-theme-background-contrast);
$module-title-font-size: $body-font-size;
$module-title-text-transform: none;

$module-box-shadow: $box-shadow-base var(--fw-color-base-alpha-3);
// $module-box-shadow: none;

$progress-height-small: 7px;

$list-group-height-compact: $input-height-small;

$alert-border-radius: 10px !default;
$alert-container-max-width: 100% !default;


$alert-background-primary: var(--fw-color-primary-lightest);
$alert-background-secondary: var(--fw-color-secondary-lightest);
$alert-background-accent: var(--fw-color-accent-lightest);
$alert-background-success: var(--fw-color-success-lightest);
$alert-background-caution: var(--fw-color-caution-lightest);
$alert-background-error: var(--fw-color-error-lightest);


$alert-color-primary: inherit;
$alert-color-secondary: inherit;
$alert-color-accent: inherit;
$alert-color-success: inherit;
$alert-color-caution: inherit;
$alert-color-error: inherit;

$thumbnail-small-size: 45px;
$thumbnail-small-font-size:20px;


// $btn-border-primary: transparent;
// $btn-background-primary: $var-color-primary;
// $btn-color-primary: $var-color-background;

// $btn-border-primary-hover: transparent;
// $btn-background-primary-hover: $var-color-primary-light;
// $btn-color-primary-hover: $var-color-background;

// $btn-border-primary-active: transparent;
// $btn-background-primary-active: $var-color-primary;
// $btn-color-primary-active: $var-color-background;

// $btn-border-secondary: transparent;
// $btn-background-secondary: $var-color-secondary;
// $btn-color-secondary: $var-color-background;

// $btn-border-secondary-hover: transparent;
// $btn-background-secondary-hover: $var-color-secondary-light;
// $btn-color-secondary-hover: $var-color-background;

// $btn-border-secondary-active: transparent;
// $btn-background-secondary-active: $var-color-secondary;
// $btn-color-secondary-active: $var-color-background;

// $btn-border-accent: transparent;
// $btn-background-accent: $var-color-accent;
// $btn-color-accent: $var-color-background;

// $btn-border-accent-hover: transparent;
// $btn-background-accent-hover: $var-color-accent-light;
// $btn-color-accent-hover: $var-color-background;

// $btn-border-accent-active: transparent;
// $btn-background-accent-active: $var-color-accent;
// $btn-color-accent-active: $var-color-background;

// $btn-border-neutral: transparent;
// $btn-background-neutral: $var-color-neutral;
// $btn-color-neutral: $var-color-background;

// $btn-border-neutral-hover: transparent;
// $btn-background-neutral-hover: $var-color-neutral-light;
// $btn-color-neutral-hover: $var-color-background;

// $btn-border-neutral-active: transparent;
// $btn-background-neutral-active: $var-color-neutral;
// $btn-color-neutral-active: $var-color-background;

// $btn-border-success: transparent;
// $btn-background-success: $var-color-success;
// $btn-color-success: $var-color-background;

// $btn-border-success-hover: transparent;
// $btn-background-success-hover: $var-color-success-light;
// $btn-color-success-hover: $var-color-background;

// $btn-border-success-active: transparent;
// $btn-background-success-active: $var-color-success;
// $btn-color-success-active: $var-color-background;

// $btn-border-caution: transparent;
// $btn-background-caution: $var-color-caution;
// $btn-color-caution: $var-color-background;

// $btn-border-caution-hover: transparent;
// $btn-background-caution-hover: $var-color-caution-light;
// $btn-color-caution-hover: $var-color-background;

// $btn-border-caution-active: transparent;
// $btn-background-caution-active: $var-color-caution;
// $btn-color-caution-active: $var-color-background;

// $btn-border-error: transparent;
// $btn-background-error: $var-color-error;
// $btn-color-error: $var-color-background;

// $btn-border-error-hover: transparent;
// $btn-background-error-hover: $var-color-error-light;
// $btn-color-error-hover: $var-color-background;

// $btn-border-error-active: transparent;
// $btn-background-error-active: $var-color-error;
// $btn-color-error-active: $var-color-background;