.DS_Store
node_modules/
node_modules/*
.git/
.git/*
.sass-cache/
.sass-cache/*
wp-content/
wp-admin/
wp-includes/

*.mine.scss
*.mine.*
*.mine.*.*
*.mine.*.*.*
*.mine.js
*.map
*.example.css
!app-timetracker-ext/**/*.example.css
!app-timetracker-ext/**/*.mine.css

__fortesting.*

webpack.*.js
webpack.*.json