.DS_Store
node_modules/
node_modules/*
.git/
.git/*
.sass-cache/
.sass-cache/*
wp-content/
wp-admin/
wp-includes/

*.mine.scss
*.mine.css
!app-timetracker-ext/**/*.example.css
*.mine.js
*.mine.min.js
*.map.*

__fortesting.*

webpack.*.js
webpack.*.json