
						
<div class="thumbnail thumbnail-inline">
    <img src="{{ loggedIn.profileImage }}" alt="{{ loggedIn.name }}">
</div>
<span id="nav-account-name" class="mobile-hide tablet-hide">{{ loggedIn.name }}</span>