
						
<div class="thumbnail thumbnail-inline">
    <img src="{{ profile.profile_image }}" alt="{{ profile.name }}">
</div>
<span id="nav-account-name" class="mobile-hide tablet-hide">{{ profile.name }}</span>