
						
<a href="#profile" class="thumbnail thumbnail-inline">
    <img src="{{ loggedIn.profileImage }}" alt="{{ loggedIn.name }}">
</a>
<a href="#" id="nav-account-name" class="color-inherit font-weight-500 mobile-hide tablet-hide">{{ loggedIn.name }}</a>