/*** MODULES ***/

$prefix: '.module';
#{$prefix} {
	&-grid {
		display: grid;
	}

	& {
		background: $module-bg-color;

		.body-inverse & {

		background: $module-bg-color-inverse;
		}
	}

	&,
	&-heading {
		padding-top: $module-gutter-y;
		border-top-left-radius: $module-border-radius;
		border-top-right-radius: $module-border-radius;
	}

	&-heading {
		margin-top: $module-gutter-y * -1;
	}

	&,
	&-footer {
		padding-bottom: $module-gutter-y;
		border-bottom-left-radius: $module-border-radius;
		border-bottom-right-radius: $module-border-radius;
	}

	&-footer {
		margin-bottom: $module-gutter-y * -1;
	}

	&,
	&-heading,
	&-content,
	&-footer {
		padding-left: $module-gutter-x;
		padding-right: $module-gutter-x;
		// overflow:hidden;
	}

	&-heading,
	&-content,
	&-footer {
		margin-left: $module-gutter-x * -1;
		margin-right: $module-gutter-x * -1;

		&#{$prefix}-no-gutter {
			padding: 0;
		}
	}
	
	&-heading,
	&-content {
		padding-bottom: $module-gutter-between * .5;
	}

	&-footer,
	&-content {
		padding-top: $module-gutter-between * .5;
	}

	&-title {
		@include type-set((

			size:rem($module-title-font-size/$body-font-size),
			// leading: strip-unit($module-title-line-height/$module-title-font-size),
			color: $module-title-color,
			case: $module-title-text-transform,
			weight: $module-title-font-weight,
			style: $module-title-font-style
		))
	}

	&-functions {

	}

	&-content {
		overflow-y:auto;
		overflow-x:hidden;

		&::-webkit-scrollbar {
			display:none;
		}
	}

	@include br(md){
		&-heading {
			display:flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}

		&-title,&-function {
			width: 50%;
		}
	
		&-functions {
			flex: 1 1;
			text-align: right;
		}
	}

	@include br(sm-max) {
		&,
		&-heading,
		&-content,
		&-footer {
			padding-left: $module-gutter-x-mobile;
			padding-right: $module-gutter-x-mobile;
			overflow:hidden;
		}

		&-heading,
		&-content,
		&-footer {
			margin-left: $module-gutter-x-mobile * -1;
			margin-right: $module-gutter-x-mobile * -1;
		}

		&,
		&-heading {
			padding-top: $module-gutter-y-mobile;
		}

		&-heading {
			margin-top: $module-gutter-y-mobile * -1;
		}

		&,
		&-footer {
			padding-bottom: $module-gutter-y-mobile;
		}

		&-footer {
			margin-bottom: $module-gutter-y-mobile * -1;
		}
	
		&-heading,
		&-content {
			padding-bottom: $module-gutter-between-mobile * .5;
		}
	
		&-footer,
		&-content {
			padding-top: $module-gutter-between-mobile * .5;
		}
	}

}