/*** MODAL ***/


$prefix: '.modal';


//also used by module
%for-modal {

	padding: $modal-gutter-y $modal-gutter-y;
	border-radius: $modal-border-radius;
	background: $modal-background;
	position: absolute;

	.body-inverse & {
		background: $modal-background-inverse;
	}
}

#{$prefix} {
		display:none!important;


	&-wrapper {
		position: fixed;

	}

	&-overlay {
		
	}

	&-popup {
		@extend %for-modal;
	}
}