/*** NAVIGATION ***/

$prefix: '.nav';
#{$prefix} {
	&{
		height: rem($nav-height / $body-font-size);
		background: $nav-background;
		.inverse & {

			background: $nav-background-inverse;
		}
	}

	&,
	&-list {
		@include flex();
		padding: 0;
		margin: 0;
	}
	&#{$prefix}-sticky {
		position:fixed;
		top:0;
		left:0;
		right:0;

	}
	&#{$prefix}-vertical {
		display:block;
		height: auto;

		#{$prefix}-list,
		#{$prefix}-dropdown {
			display:block;
		}

		#{$prefix}-item > a {
			display:block;
		}
	}

	&-item {
		&:before {
			content:none;
		}

		> a {
	
			@include type-set((
				size: rem($nav-font-size / $body-font-size),
				color: $nav-color,
			));
			
			padding-top: calc( ( #{rem($nav-item-height / $body-font-size)} - ( #{ em( type-lead($body-font-size,$body-line-height) ) })) * .5 );
			padding-bottom: calc( ( #{rem($nav-item-height / $body-font-size)} - ( #{ em( type-lead($body-font-size,$body-line-height) ) })) * .5 );
			padding-left: $nav-gutter;
			padding-right: $nav-gutter;
			display:inline-block;
		}

		&:hover {
			color: $nav-color-hover;
		}
	}

	&-icon {
		width: em($nav-icon-width / $nav-top-font-size);
		height: em($nav-icon-height / $nav-top-font-size);
		max-width:none;
		display:inline-block;
		vertical-align: middle;
		line-height: inherit;

		+ #{$prefix}-item-text {
			margin-left: 1em;
			display:inline-block;
			vertical-align: middle;
		}
	}

	&-list > #{$prefix}-item {

		>a {
			@include type-set((
				size: rem($nav-top-font-size/$nav-font-size),
				style: $nav-top-font-style,
				weight: $nav-top-font-weight,
				case: $nav-top-text-transform
			));
			position:relative;
			padding-top: calc( (#{rem($nav-height / $body-font-size)} - ( #{ em( type-lead($body-font-size,$body-line-height) ) })) * .5 );
			padding-bottom: calc( (#{rem($nav-height / $body-font-size)} - ( #{ em( type-lead($body-font-size,$body-line-height) ) })) * .5 );

			&:after {
				content:"";
				position:absolute;
				bottom:0;
				right:0;
				left:0;
				height:0;
				transition: $transition-duration-short all $transition-timing;
				@include gradient((
					color1: $gradient-start,
					color2: $gradient-end,
					angle: 0deg,
					use-shorthand:false
				));


				#{$prefix}-vertical & {
					height:auto;
					width: 0;
					top:0;
					left:auto;

					@include gradient((
						color1: $gradient-start,
						color2: $gradient-end,
						angle: 90deg,
						use-shorthand:false
					));
				}
			}
		}
		&:hover,
		&.open,
		&.current {
			> a:after {
				height: $nav-current-size;

				#{$prefix}-vertical & {
					height:auto;
					width:$nav-current-size;
				}
			}	
		}
	}

	&-dropdown {
		@extend %pop;


	#{$prefix}-item {

			>a {
			}
		}
	}

	@include br(sm-max) {
		&-item > a {
			padding-left: $nav-gutter-mobile;
			padding-right: $nav-gutter-mobile;
		}
	}
}