/*! 
pops / drodpwon + tooltip
****************************************************************************/

%pop {
	position:absolute;
	background: $brand-background;
	border-radius: $popper-border-radius;
	padding: $popper-gutter-x $popper-gutter-y;
	box-shadow: 0px 0px 10px -5px rgba($color-base,.5);
}


$prefix: '.popper';

#{$prefix}{
	@extend %pop;
}
