/*** POPPER, USED BY DROPDOWNS AND TOOLTIPS TOO ***/

%pop {
	position:absolute;
	background: $brand-color-background;
	border-radius: $popper-border-radius;
	padding: $popper-gutter-x $popper-gutter-y;
	box-shadow: $popper-box-shadow;
	display:none;
}


$prefix: '.popper';

#{$prefix}{
	@extend %pop;
}
