
/*! 
SCAFFOLDING
****************************************************************************/
$prefix:'.body';

html,body {
	width:100%;
	min-width:320px;
}

body {
	@include type-set((
		size: $body-font-size,
		font: $body-font-family,
		weight: $body-font-weight,
		leading: $body-line-height,
		color: $body-color,
	));
	word-wrap: break-word;
	background: $body-background;

	&#{$prefix}-inverse {
		background: $body-background-inverse;
		color: $body-color-inverse;
	}

	&#{$prefix}-nav-sticky-offset {
		padding-top: $nav-height;
	}
}

// flex classes
	.flex {

		&-xs {
		@extend %flex-xs;
		}
		
		&-sm {
		@extend %flex-sm;
		}
		
		&-md {
		@extend %flex-md;
		}
		
		&-lg {
		@extend %flex-lg;
		}
	}

/// super global styles + basic fixes

	img,svg {
		max-width:100%;
		height:auto;
	}

	iframe,
	object,
	embed {
		max-width:100%!important;
	}

