/*** SCAFFOLDING ***/
	$prefix:'.body';

	html,body {
		width:100%;
		min-width:320px;
		@include type-set((
			size: $body-font-size,
			font: $body-font-family,
			weight: $body-font-weight,
			leading: $body-line-height,
			color: $body-color,
		));
		word-wrap: break-word;
	}

	body {
		background: $body-background;

		&.body-inverse {
			background: $body-background-inverse;
			color: $body-color-inverse;
		}

		&#{$prefix}-nav-sticky-offset {
			padding-top: $calculated-nav-height;
		}
	}


	/* SUPER GLOBAL STYLE FIXES */

	img,svg {
		max-width:100%;
		height:auto;
	}

	iframe,
	object,
	embed {
		max-width:100%!important;
	}

	*:focus {
		outline: none;
	}
	
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: '';
		clear: both;
		height: 0;
	}
	
	* html .clearfix {
		zoom: 1;
	}
	
	/* IE6 */
	
	*:first-child+html .clearfix {
		zoom: 1;
	}
	
	/* IE7 */
	
	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* Firefox 25*/
	}
	
	input:not([type=checkbox]):not([type=radio]),
	textarea,
	select,
	option,
	button {
		background:none;
		-webkit-border-radius: 0;
		border: none;
		resize: none;
		// 	display: block;
		// color: inherit;
		font: inherit;
	}
	
	button {
		margin:0;
		padding:0;
		outline:0;
		border: none;
		cursor: pointer;
	}
	
	a {
		text-decoration: none;
	}

