/*** SCAFFOLDING ***/
	$prefix:'.body';

	html,body {
		width:100%;
		min-width:320px;
	}

	body {
		@include type-set((
			size: $body-font-size,
			font: $body-font-family,
			weight: $body-font-weight,
			leading: $body-line-height,
			color: $body-color,
		));
		word-wrap: break-word;
		background: $body-background;

		&#{$prefix}-inverse {
			background: $body-background-inverse;
			color: $body-color-inverse;
		}

		&#{$prefix}-nav-sticky-offset {
			padding-top: $nav-height;
		}
	}


	/* SUPER GLOBAL STYLE FIXES */

	img,svg {
		max-width:100%;
		height:auto;
	}

	iframe,
	object,
	embed {
		max-width:100%!important;
	}

	*:focus {
		outline: none;
	  }
	  
	  .clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: '';
		clear: both;
		height: 0;
	  }
	  
	  * html .clearfix {
		zoom: 1;
	  }
	  
	  /* IE6 */
	  
	  *:first-child+html .clearfix {
		zoom: 1;
	  }
	  
	  /* IE7 */
	  
	  *,
	  *:before,
	  *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	  }
	  
	  * {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* Firefox 25*/
	  }
	  
	  input:not([type=checkbox]):not([type=radio]),
	  textarea,
	  select,
	  button {
		-webkit-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		border: none;
		resize: none;
		display: block;
		font-family: inherit;
		color: inherit;
	  }
	  input::-webkit-input-placeholder,
	  textarea::-webkit-input-placeholder {
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	  }
	  
	  input:focus::-webkit-input-placeholder,
	  textarea:focus::-webkit-input-placeholder {
		color: transparent !important;
	  }
	  
	  input:focus:-moz-placeholder,
	  textarea:focus:-moz-placeholder {
		color: transparent !important;
	  }
	  
	  input:focus:-ms-input-placeholder,
	  textarea:focus:-ms-input-placeholder {
		color: transparent !important;
	  }
	  
	  button {
		border: none;
		cursor: pointer;
	  }
	  
	  a {
		text-decoration: none;
	  }

