/*** SET ***/



/* SUBSET */
$prefix: '.symbol';
#{$prefix} {
    position:relative;
    display:inline-block;
    line-height:0;
    font-size:inherit;
    flex: 0 0 auto; //retain dimensions
    height: 1em; //bitch does weird overflow scroll shit on where it shouldnt on things i want to scroll when overflowing and shit so bitchs height is like that now
    width: 1em;
    vertical-align:middle;
    transform-origin: center center;
    pointer-events:none;

	&:before,&:after {
        content: "";
        color: inherit;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        // transition:
        // $transition-duration-short color $transition-timing,
        // $transition-duration-short background-color $transition-timing;
    }

    &-arrow,
    &-plus,
    &-minus,
    &-kebab,
    &-burger,
    &-search,
    &-square {
        &:before,&:after {
            background: currentColor;
        }
    }

    &-arrow,
    &-plus,
    &-minus,
    &-search{
        &:before,&:after {
            border-radius:  em(3px / $body-font-size) * .5;
        }
    }
    &-plus,
    &-minus{
        &:after{
            height: em(3px / $body-font-size);
            width:.9375em;
        }

        &:before {
            height:.9375em;
        }
    }

    &-burger {
        &:before {
            content: none;
        }

        &:after {
            box-shadow:
                0 #{em(2px / $body-font-size) * 3} 0 0,
                0 #{em(2px / $body-font-size) * -3} 0 0
                ;
            height:  em(2px / $body-font-size);
            left: -.1em;
            right: -.1em;
            border-radius:  em(2px / $body-font-size) * .5;
        }
    }

    &-plus:before,
    &-minus:before,
    &-arrow:after,
    &-arrow:before,
    &-search:after{
        width: em(3px / $body-font-size);
    }
    
    &-minus {
        &:before{
            content:none;
        }
    }

    &-arrow {

        &:before,&:after {
            transform-origin: center em(1px / $body-font-size);
            height: em(11px/$body-font-size);
            top: em(3px / $body-font-size);
        }

        &:before{
            transform: rotate(-45deg);
        }

        &:after{
            transform: rotate(45deg);
        }


    }

    &-kebab {
        &:before {
            content: none;
        }
        &:after {
            width: em(5px/$body-font-size);
            height: em(5px/$body-font-size);
            border-radius: em(5px/$body-font-size);
        }

        &-vertical {
            &:after {
                box-shadow: 
                    0 em(-10px/$body-font-size) 0 0,
                    0 em(10px/$body-font-size) 0 0
                    ;
            }
        }

        &-horizontal {
            &:after {
                box-shadow: 
                    em(-10px/$body-font-size) 0 0 0,
                    em(10px/$body-font-size) 0 0 0
                    ;
            }
        }
    }

    &-caret {
        // width: em(($calculated-symbol-caret-width * .5) / $body-font-size);
        // width:0;

        &:before {
            content:none;
        }

        @include arrow-triangle((
            pseudo: after, 
            direction: 'up', //if pseudo is set to both, this will set the direction of :before, :after will be opposite of 
            display: null,
            size-base: inherit,
            main-size: $calculated-symbol-caret-height,//orientation of direction
            cross-size: $calculated-symbol-caret-width,// perpendicular orientation of direction
        )){
            display:inline-block;
            vertical-align:middle;
            // top: $calculated-symbol-caret-height * -.25;
        };


    }

    &-caret,
    &-arrow {


        &-up,
        .active > &-toggle-up,
        .open > &-toggle-up {
            transform: rotate(0deg);
        }

        &-down,
        .active > &-toggle-down,
        .open > &-toggle-down {
            transform: rotate(180deg);
        }

        &-left,
        .active > &-toggle-left,
        .open > &-toggle-left {
            transform: rotate(-90deg);
        }

        &-right,
        .active > &-toggle-right,
        .open > &-toggle-right {
            transform: rotate(90deg);
        }
    }
    &-square {
        &:before {
            content: none;
        }
        &:after {
            width: .875em;
            height: .875em;
        }
    }

    &-search {
        transform: rotate(-45deg);
        
        
        &:before {
            width: 1em;
            height: 1em;
            background:none;
            border-radius: 50%;
            border: em(3px / $body-font-size) solid;
            bottom: auto;
            top: -.25em

        }

        &:after {
            height: .625em;
            top: calc(.75em - (#{em(3px / $body-font-size)} * .5));
            bottom: auto;
        }
    }

    
}