/*** SET ***/

/* SUBSET */
$prefix: '.table';
#{$prefix} {
    @at-root &,
    table {
        overflow-x:scroll;
        display:table;


        &,
        thead,
        tbody,
        tfoot,
        tr,
        #{$prefix}-row {
            width:100%;
        }
        

        tr,
        #{$prefix}-row {
            height:100%;
            display:table-row;
            border-bottom: $table-cell-border-width solid $table-cell-border-color;

            .body-inverse & {
                border-bottom: $table-cell-border-width solid $table-cell-border-color-inverse;
            }
            
        }
        @at-root & th,td,
        #{$prefix}-cell,
        #{$prefix}-cell#{$prefix}-cell-heading {
            text-align: inherit;
            padding-left: $table-cell-gutter;
            padding-right: $table-cell-gutter;
            // vertical-align:middle;
            height:100%;
            // display: table-cell;
            position:relative;
        }

        @at-root & th,
        #{$prefix}-cell-heading {
            padding-top: calc((#{$table-heading-min-height} - (1em * #{type-lead( $body-font-size,$body-line-height )})) * .5);
            padding-bottom: calc((#{$table-heading-min-height} - (1em * #{type-lead( $body-font-size,$body-line-height )})) * .5);
            background:$table-heading-background;

            @include type-set((
                color: $table-heading-color,
                weight:$table-heading-font-weight,
                style: $table-heading-font-style,
                case: $table-heading-text-transform,
            ));

            .body-inverse & {
                background:$table-heading-background-inverse;
                color: $table-heading-color-inverse
            }
        }

        @at-root & td,
        #{$prefix}-cell {
            padding-top: calc((#{$table-cell-min-height} - (1em * #{type-lead( $body-font-size,$body-line-height )})) * .5);
            padding-bottom: calc((#{$table-cell-min-height} - (1em * #{type-lead( $body-font-size,$body-line-height )})) * .5);

            &#{$prefix}-cell-no-gutter {
                padding:0;
            }
        }

        @at-root #{$prefix}-cell {
            &-align {
                &-left{
                    text-align:left;
                }
                &-center{
                    text-align:center;
                }
                &-right{
                    text-align:right;
                }
            }
            &-label {
                width: $table-cell-tag-width;
                height: 100%;
                min-height:$table-cell-tag-height;
                border-radius: $table-cell-tag-border-radius;
                display:inline-block;
                vertical-align:middle;
                
                @each $tag,$color in $brand-color-declarations {
                    &-#{$tag} {
                        background-color: $color;
                    }
                }
            }
        }


    }


}