
/*** IMAGES ***/



//internal

$calculated-thumbnail-font-size: $thumbnail-font-size;
@if internal-is-convertable($thumbnail-font-size) {
    $calculated-thumbnail-font-size: rem($thumbnail-font-size / $body-font-size);
}

	$calculated-thumbnail-font-size-inline: $thumbnail-font-size-inline;
	@if internal-is-convertable($thumbnail-font-size-inline) {
		$calculated-thumbnail-font-size-inline: rem($thumbnail-font-size-inline / $body-font-size);
	}

$calculated-thumbnail-size: $thumbnail-size;
@if internal-is-convertable($thumbnail-size,$thumbnail-font-size) {
    $calculated-thumbnail-size: em($thumbnail-size / $thumbnail-font-size);
}

	$calculated-thumbnail-size-inline: $thumbnail-size-inline;
	@if internal-is-convertable($thumbnail-size-inline,$thumbnail-font-size-inline) {
		$calculated-thumbnail-size-inline: em($thumbnail-size-inline / $thumbnail-font-size-inline);
	}
	

$calculated-thumbnail-line-height: $thumbnail-line-height;
@if internal-is-convertable($thumbnail-line-height) {
    $calculated-thumbnail-line-height: em($thumbnail-line-height / $thumbnail-font-size);
}



$prefix: '.thumbnail';
#{$prefix} {
	@extend %for-background-gradient-135;
	@extend .fit-image;
	@include aspect-ratio($thumbnail-size,$thumbnail-size,false,true,false);
	width:$calculated-thumbnail-size;
	max-width:100%;
	display:inline-block;
	border-radius: $thumbnail-border-radius;
	@include type-set((
		size: $calculated-thumbnail-font-size,
		leading: $calculated-thumbnail-line-height,
		color: $thumbnail-color !important,
		weight:$thumbnail-font-weight,
		style: $thumbnail-font-style,
		case: $thumbnail-text-transform,
	));

	&[class*=background-] {
		background-image:none;
	}

	img {
		max-width: none;
		border-radius:inherit;
	}

	.badge {
		bottom: auto;
		right: auto;
		top: 8%;
		left: 8%;
	}
	

	&#{$prefix}-inline {
		width:$calculated-thumbnail-size-inline;
		display:inline-block;
		vertical-align:middle;
		line-height: inherit;
		font-size: $calculated-thumbnail-font-size-inline
	}

	&-text {
		display:flex;
		text-align: center;
		justify-content: center;
		align-content: center;
		align-items: center;

	}

	&-content {
		display:flex;
		align-items: center;
		justify-content: center;
	}
}