
/* 
CUSTOM STYLES FOR TRUMBOWYG
****************************************************************************/

 $prefix: '.input-trumbowyg';
 
 #trumbowyg-icons {
	 overflow: hidden;
	 visibility: hidden;
	 height: 0;
	 width: 0;
 
	 svg {
		 height: 0;
		 width: 0;
	 }
 }
 

 #{$prefix} {
	&-box,
	&-modal {
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
	
		svg {
			width: 20px;
			height: 100%;
			fill: currentColor;
		}
	}

	&-box,
	&-editor {
		display: block;
		position: relative;
		margin: 0;
	}
	
	&-editor,
	&-textarea {
		@extend %for-form-global;
		@extend %for-form-input-and-group;
		@extend %for-form-input;
		min-height: 800px;
	}
	
	&-box#{$prefix}-fullscreen {
		border-radius:0;
		box-shadow:none !important;

	}
	
	&-editor,
	&-textarea {
		position: relative;
		box-sizing: border-box;
		// padding: $trumbowyg-gutter-x $trumbowyg-gutter-y;
		border-style: none;
		resize: none;
		outline: none;
		overflow: auto;
		user-select: text; // Avoid issues on iOS
		font-size: 1rem;
		line-height: $calculated-body-line-height;
		// min-height: rem()
		min-height: 500px;
	
		&#{$prefix}-autogrow-on-enter {
			transition: height $trumbowyg-transition-duration-slow ease-out;
		}

		&:focus,&.focus {
			box-shadow: none;
		}

		#{$prefix}-box#{$prefix}-fullscreen & {
			border-radius:0;
			box-shadow:none !important;
			padding-left: $gutter-small;
			padding-right: $gutter-small;
			padding-top: $gutter-small;
			padding-bottom: $gutter-small;
			margin:0;
	
		}
	}
	
	// &-box-blur #{$prefix}-editor {
	// 	*,
	// 	&::before {
	// 		opacity: .2;
	// 	}
	// 	img,
	// 	hr {
	// 		opacity: 0.2;
	// 	}
	// }
	
	&-textarea {
		position: relative;
		overflow: auto;
		border: none;
		font-family: $font-monospace;
	}
	
	&-box#{$prefix}-editor-visible {
		#{$prefix}-textarea {
			height: 1px !important;
			width: 25%;
			min-height: 0 !important;
			padding: 0 !important;
			background: none!important;
			opacity: 0 !important;
			flex: 0 0 auto!important;
		}
	}
	
	&-box#{$prefix}-editor-hidden {
		#{$prefix}-textarea {
			display: block;
		}
		#{$prefix}-editor {
			display: none;
		}
	}
	
	&-box#{$prefix}-disabled {
		#{$prefix}-textarea {
			opacity: 0.8;
			background: none;
		}
	}
	
	
	
	&-button-pane {
		width: 100%;
		min-height: $trumbowyg-button-pane-height;
		margin: 0;
		padding: 0;
		position: relative;
		list-style-type: none;
		// line-height: 10px;
		backface-visibility: hidden;
		z-index: 11;
	
	
		#{$prefix}-button-group {
			display: inline-block;
		}
	
		button {
			display: inline-block;
			position: relative;
			width: $trumbowyg-button-pane-height;
			height: $trumbowyg-button-pane-height;
			color:$trumbowyg-icon-color;
			margin-bottom: 1px;
			overflow: hidden;
			border: none;
			cursor: pointer;
			background: none;
			vertical-align: middle;
			transition: background-color $trumbowyg-transition-duration, opacity $trumbowyg-transition-duration;
	
			&#{$prefix}-textual-button {
				width: auto;
				line-height: $trumbowyg-button-pane-height;
				user-select: none;
			}
		}
	
		&#{$prefix}-disable button:not(#{$prefix}-not-disable):not(#{$prefix}-active),
		button#{$prefix}-disable,
		#{$prefix}-disabled & button:not(#{$prefix}-not-disable):not(#{$prefix}-viewHTML-button) {
			opacity: 0.2;
			cursor: default;
		}
		&#{$prefix}-disable,
		#{$prefix}-disabled & {
			#{$prefix}-button-group::before {
				// background: darken($light-color, 3%);
				opacity: $global-disabled-opacity;
			}
		}
	
		button:not(#{$prefix}-disable):hover,
		button:not(#{$prefix}-disable):focus,
		button#{$prefix}-active {
			color: $trumbowyg-icon-color-hover;
			outline: none;
		}
	
		#{$prefix}-open-dropdown {
			&::after {
				display: block;
				content: " ";
				position: absolute;
				top: 25px;
				right: 3px;
				height: 0;
				width: 0;
				border: 3px solid transparent;
				border-top-color: #555;
			}
	
			&#{$prefix}-textual-button {
				padding-left: 10px !important;
				padding-right: 18px !important;
	
				&::after {
					top: 17px;
					right: 7px;
				}
			}
		}
	
		#{$prefix}-right {
			float: right;
		}
	}
	
	&-dropdown {
		max-width: 300px;
		max-height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
		padding: 5px 0;
		border-top: none;
		background: #FFF;
		margin-left: -1px;
		box-shadow: rgba(0, 0, 0, .1) 0 2px 3px;
		z-index: 12;
	
		button {
			display: block;
			width: 100%;
			height: 35px;
			line-height: 35px;
			text-decoration: none;
			background: #FFF;
			padding: 0 20px 0 10px;
			color: inherit;
			border: none;
			cursor: pointer;
			text-align: left;
			font-size: 15px;
			transition: all $trumbowyg-transition-duration;
	
			svg {
				float: left;
				margin-right: 14px;
			}
		}
	}
	
	/* Modal box but i make it overlay */
	&-modal { 
		position: fixed;
		top: 0!important;
		left: 0!important;
		right: 0!important;
		bottom: 0!important;
		margin: auto;
		width: 100vw!important;
		height: 100vh!important;
		padding: $gutter-base;
		overflow-y: scroll;
		background: rgba($brand-color-base,.2);
		/* height: 350px; */
		z-index: 99999;

		@include br(sm-max) {
			padding: $gutter-small;
		}
	}
	
	&-modal-box {
		@extend %modal;
		position:static;
		margin: auto;
		max-width: $trumbowyg-modal-max-width;
		width: 100%;
		padding: $gutter-base $gutter-small;
		z-index: 1;
		background-color: $global-background;
		box-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
		backface-visibility: hidden;
	
		#{$prefix}-modal-title {
			@extend .module-title;
		}
		label {
			// display: block;
			// position: relative;
			// margin: $input-gutter-x 0;
			// height: $calculated-input-height;
			// line-height: $calculated-input-height;
			// overflow: hidden;
	
			#{$prefix}-input-infos {
				// display: block;
				// text-align: left;
				// height: $calculated-input-height;
				// line-height: $calculated-input-height;
				// transition: all 150ms;
	
				// span {
				// 	display: block;
				// 	border: 1px solid #DEDEDE;
				// 	padding: 0 7px;
				// 	width: 150px;
				// }
				// span#{$prefix}-msg-error {
				// 	color: #e74c3c;
				// }
			}
	
			input {
				// position: absolute;
				// top: 0;
				// right: 0;
				// height: 27px;
				// line-height: 27px;
				// border: 1px solid #DEDEDE;
				// background: #fff;
				// font-size: 14px;
				// max-width: 330px;
				// width: 70%;
				// padding: 0 7px;
				// transition: all $trumbowyg-transition-duration;
	
				// &:hover,
				// &:focus {
				// 	outline: none;
				// 	border: 1px solid #95a5a6;
				// }
				// &:focus {
				// 	// background: lighten($light-color, 5%);
				// }
			}
	
			input[type="checkbox"]{
				left: 6px;
				top: 6px;
				right: auto;
				height: 16px;
				width: 16px;
	
				+ #{$prefix}-input-infos span{
					width: auto;
					padding-left: 25px;
				}
			}
		}
	
		.error {
			margin-top: 25px;
			display: block;
			color: $brand-color-error;
		}
	
		#{$prefix}-modal-button {
			@extend %btn;
			@extend %btn-itself-and-group;
			margin: 0 .125em;
	
			&#{$prefix}-modal-submit {
				@extend .btn-primary;
				// background: darken($modal-submit-color, 3%);
	
				// &:hover,
				// &:focus {
				// 	background: lighten($modal-submit-color, 5%);
				// 	outline: none;
				// }
				// &:active {
				// 	background: darken($modal-submit-color, 10%);
				// }
			}
	
			&#{$prefix}-modal-reset {
				@extend .btn-default;
				// color: inherit;
				// background: darken($modal-reset-color, 3%);
	
				// &:hover,
				// &:focus {
				// 	background: lighten($modal-reset-color, 5%);
				// 	outline: none;
				// }
				// &:active {
				// 	background: darken($modal-reset-color, 10%);
				// }
			}
		}
	}
	
	&-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		display: none;
		top: 0;
		z-index: 10;
	}
	
	/**
	* Fullscreen
	*/
	body#{$prefix}-body-fullscreen {
		overflow: hidden;
	}
	
	&-fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 99999;
		background: $global-background;

		@at-root #{$prefix}-dark,
		.body-inverse & {
			background: $global-background-inverse;
		}
	
		&#{$prefix}-box,
		#{$prefix}-editor {
			border: none;
		}
		#{$prefix}-editor,
		#{$prefix}-textarea {
			height: calc(100% - 37px) !important;
			overflow: auto;
		}
		#{$prefix}-overlay {
			height: 100% !important;
		}

	
		&-button svg  {
			fill: $trumbowyg-icon-color;
			color: transparent;
		}

		#{$prefix}-fullscreen-button svg  {
			fill: transparent;
			color: currentColor;
		}
	}
	
	&-editor {
		object,
		embed,
		video,
		img {
			max-width: 100%;
		}
		video,
		img {
			height: auto;
		}
		img {
			cursor: move;
		}
	
		/*
		* lset for resetCss option
		*/
		
		// &#{$prefix}-reset-css {
		// 	background: #FEFEFE !important;
		// 	font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
		// 	font-size: 14px !important;
		// 	line-height: 1.45em !important;
		// 	color: #333;
	
		// 	a {
		// 		color: #15c !important;
		// 		text-decoration: underline !important;
		// 	}
	
		// 	div,
		// 	p,
		// 	ul,
		// 	ol,
		// 	blockquote {
		// 		box-shadow: none !important;
		// 		background: none !important;
		// 		margin: 0 !important;
		// 		margin-bottom: 15px !important;
		// 		line-height: 1.4em !important;
		// 		font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
		// 		font-size: 14px !important;
		// 		border: none;
		// 	}
		// 	iframe,
		// 	object,
		// 	hr {
		// 		margin-bottom: 15px !important;
		// 	}
		// 	blockquote {
		// 		margin-left: 32px !important;
		// 		font-style: italic !important;
		// 		color: #555;
		// 	}
		// 	ul {
		// 		list-style: disc;
		// 	}
		// 	ol {
		// 		list-style: decimal;
		// 	}
		// 	ul,
		// 	ol {
		// 		padding-left: 20px !important;
		// 	}
		// 	ul ul,
		// 	ol ol,
		// 	ul ol,
		// 	ol ul {
		// 		border: none;
		// 		margin: 2px !important;
		// 		padding: 0 !important;
		// 		padding-left: 24px !important;
		// 	}
		// 	hr {
		// 		display: block;
		// 		height: 1px;
		// 		border: none;
		// 		border-top: 1px solid #CCC;
		// 	}
	
		// 	h1,
		// 	h2,
		// 	h3,
		// 	h4 {
		// 		color: #111;
		// 		background: none;
		// 		margin: 0 !important;
		// 		padding: 0 !important;
		// 		font-weight: bold;
		// 	}
	
		// 	h1 {
		// 		font-size: 32px !important;
		// 		line-height: 38px !important;
		// 		margin-bottom: 20px !important;
		// 	}
		// 	h2 {
		// 		font-size: 26px !important;
		// 		line-height: 34px !important;
		// 		margin-bottom: 15px !important;
		// 	}
		// 	h3 {
		// 		font-size: 22px !important;
		// 		line-height: 28px !important;
		// 		margin-bottom: 7px !important;
		// 	}
		// 	h4 {
		// 		font-size: 16px !important;
		// 		line-height: 22px !important;
		// 		margin-bottom: 7px !important;
		// 	}
		// }
	}
	
	// /*
	// * Dark theme
	// */
	// .body-inverse &,
	// &-dark {
	// 	#{$prefix}-textarea {
	// 		background: #111;
	// 		color: #ddd;
	// 	}
	// 	#{$prefix}-box {
	// 		// border: 1px solid lighten($dark-color, 7%);
	
	// 		&#{$prefix}-fullscreen {
	// 			background: #111;
	// 		}
	// 		&#{$prefix}-box-blur #{$prefix}-editor {
	// 			*,
	// 			&::before {
	// 				text-shadow: 0 0 7px #ccc;
	
	// 				@media screen and (min-width: 0 \0
	// 				) {
	// 					color: rgba(20, 20, 20, 0.6) !important;
	// 				}
	// 				@supports (-ms-accelerator:true) {
	// 					color: rgba(20, 20, 20, 0.6) !important;
	// 				}
	// 			}
	// 		}
	
	// 		svg {
	// 			// fill: $light-color;
	// 			// color: $light-color;
	// 		}
	// 	}
	// 	#{$prefix}-button-pane {
			
	
	// 		&#{$prefix}-disable {
	// 			#{$prefix}-button-group::after {
	// 				// background-color: lighten($dark-color, 3%);
	// 			}
	// 		}
	
	// 		button:not(#{$prefix}-disable):hover,
	// 		button:not(#{$prefix}-disable):focus,
	// 		button#{$prefix}-active {
	// 			background-color: #333;
	// 		}
	
	// 		#{$prefix}-open-dropdown::after {
	// 			border-top-color: #fff;
	// 		}
	// 	}
		
	
	// 	#{$prefix}-dropdown {
	// 		// border-color: $dark-color;
	// 		background: #333;
	// 		box-shadow: rgba(0, 0, 0, .3) 0 2px 3px;
	
	// 		button {
	// 			background: #333;
	// 			color: #fff !important;
	
	// 			&:hover,
	// 			&:focus {
	// 				// background: $dark-color;
	// 			}
	// 		}
	// 	}
	
	// 	// Modal box
	// 	#{$prefix}-modal-box {
	// 		// background-color: $dark-color;
	
	// 		#{$prefix}-modal-title {
	// 			border-bottom: 1px solid #555;
	// 			color: #fff;
	// 			// background: lighten($dark-color, 10%);
	// 		}
	
	// 		label {
	// 			display: block;
	// 			position: relative;
	// 			margin: 15px 12px;
	// 			height: 27px;
	// 			line-height: 27px;
	// 			overflow: hidden;
	
	// 			#{$prefix}-input-infos {
	// 				span {
	// 					color: #eee;
	// 					// background-color: lighten($dark-color, 5%);
	// 					// border-color: $dark-color;
	// 				}
	// 				span#{$prefix}-msg-error {
	// 					color: #e74c3c;
	// 				}
	// 			}
	
	// 			&#{$prefix}-input-error {
	// 				input,
	// 				textarea {
	// 					border-color: #e74c3c;
	// 				}
	// 			}
	
	// 			input {
	// 				// border-color: $dark-color;
	// 				color: #eee;
	// 				background: #333;
	
	// 				&:hover,
	// 				&:focus {
	// 					// border-color: lighten($dark-color, 25%);
	// 				}
	// 				&:focus {
	// 					// background-color: lighten($dark-color, 5%);
	// 				}
	// 			}
	// 		}
	
	// 		#{$prefix}-modal-button {
	// 			&#{$prefix}-modal-submit {
	// 				// background: darken($modal-submit-color, 20%);
	
	// 				// &:hover,
	// 				// &:focus {
	// 				// 	background: darken($modal-submit-color, 10%);
	// 				// }
	// 				// &:active {
	// 				// 	background: darken($modal-submit-color, 25%);
	// 				// }
	// 			}
	// 			&#{$prefix}-modal-reset {
	// 				// background: #333;
	// 				// color: #ccc;
	
	// 				// &:hover,
	// 				// &:focus {
	// 				// 	background: #444;
	// 				// }
	// 				// &:active {
	// 				// 	background: #111;
	// 				// }
	// 			}
	// 		}
	// 	}
	// 	#{$prefix}-overlay {
	// 		background-color: rgba(15, 15, 15, 0.6);
	// 	}
	// }
 }