
/*! 
Styleguide
****************************************************************************/

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
	@include type-set((
		leading: 1.25
	));
	margin-bottom: .5em;

	&:not(:first-child) {
		margin-top: 1em;
	}
	
}

h1,.h1 {
	@include type(2em)

}

h2,.h2 {
	@include type(1.75em)
	
}

h3,.h3 {
	@include type(1.5em)
}

h4,.h4 {
	@include type(1.25em)
}

h5,.h5 {
	@include type(1em);	
}

h6,.h6 {
	@include type(.875em)
	
}



strong,b{
	// font-family: '';
	font-weight:$body-font-weight-bold;
}
em,i{
	font-style:italic;
}

a {
	color: $anchor-color;
	text-decoration: none;
	transition: $transition-duration-base all $transition-timing;

	&:hover {
		color: $anchor-color-hover;

	}
}