@use 'sass:math';

$sidebar-expanded: 240px;
$sidebar-slim: 60px;
$outreach-table-tr-fade-duration: 1s; //equivalent to 1000. change if needed
$table-column-widths: (50,100,150,200,250,300,400,500);


html,body {
	scroll-padding: var(--fw-nav-height,#{$nav-height});
}

#outreach {
	&-kanban,
	&-calendar {
		&-wrapper {
			position:absolute;
			right:0;
			bottom:0;
			top: $nav-height;
			left: $sidebar-slim;

			@include on-breakpoint(mobile){
				left:0;
				top: $nav-height * 2;
			}
		}
	}

	&-svg-styles {
		width:0;
		height:0;
		position:absolute;
		z-index:-9999;
		top:0;
		left:0;
		overflow:hidden;
	}

	&-header {
		left: auto;
		right:0;
		margin-left: auto;
		width: calc(100% - #{$sidebar-slim});


		.nav-logo {
			padding: 0 1rem;
			display:flex;
			flex-direction:column;
			justify-content: center;
			margin-right: .5em;

			svg {
				max-height: 35px;
				max-width: 100%;
				width: auto;
			}
		}

		&-nav {

			.nav-list {

				@include dump-styles(no-scrollbar);
				@include on-breakpoint(mobile){
					padding: 1rem;
					position:fixed;
					// top: $nav-height;
					// left: $sidebar-slim;
					// width: calc(100% - #{$sidebar-slim});
					left: 0;
					top: $sidebar-slim * 2;
					height: calc(100vh - #{$nav-height});
					box-shadow: inset  0 10px 5px -5px $var-theme-background-contrast;
					overflow-y:scroll;

					> li > a {
						display: inline-block;
					}
				}
			}
		}
	}

	&-sidebar {
		width: $sidebar-slim;
		transition: .125s ease-in-out width;
		box-shadow: 0 0 10px -5px color(b);
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		padding-bottom: 45px;
		z-index:1001;
		overflow-y:scroll;
		overflow-x:hidden;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display:none!important;
		}

		.nav-logo {
			height: 60px;

			.logo-expanded {
				max-width:none;
				width: 197px;
			}

		}

		&-nav {

			li  {

				> .dropdown,
				> ul {
					position:fixed;
					top: 0;
					bottom:0;
					left: $sidebar-slim;
					overflow-y:scroll;
					overflow-x:hidden;
					width: 200px;
					text-align:left;
					z-index:99;
					box-shadow:inset 3px 0 5px -5px #000,3px 0 5px -5px #000;
					transition: .125s ease-in-out left;

					&::-webkit-scrollbar {
						display:none!important;
					}

					padding: 45px $gutter-base;

					@include br(#{$mobile-br-max-polar}) {
						#outreach-sidebar:hover & {
							left: $sidebar-expanded;
							transition: .25s ease-in-out left;
						}
					}
				}
			}
		}

		@include br(#{$mobile-br-max-polar}) {
			&:hover{

				transition: .25s ease-in-out width;
				width: $sidebar-expanded;
			}
		}
	}

	&-main {
		width:calc(100% - #{$sidebar-slim});
		padding-top: $container-gutter;
		padding-bottom: $container-gutter;
		margin-left: auto;
	}

	&-dynamic {
		&-alert-container {
			left: $sidebar-slim;
			top: $nav-height;
			// margin-left: $gutter-small * -1;
			// margin-top: $gutter-small * -1;
			max-width:400px;
			z-index:99;
			width: 400px;
			max-width: 72%;
			padding: $gutter-small 0 0 $gutter-small;

			.alert {
				box-shadow: 0 2px 10px -5px $var-color-base;
			}
		}
	}



	//override sidebar for mobile
	@include br(#{$mobile-br-max}-max){
		&-header {
			box-shadow: none;
			&,
			&-nav .nav-list {
				width:100%;
			}
		}
		&-sidebar {
			top: $sidebar-slim;
			bottom: auto;
			height: auto;
			width: 100%;
			padding: 0;
			z-index: 980;
			position: sticky;

			&-nav {
				display: flex;

				.outreach-nav-side {
					display: flex;
					flex: 1 1;
					justify-content: space-around;
				}

				.nav-list > li {
					> a {
						height: $sidebar-slim;
						padding-top: 0;
						padding-bottom:0;
						align-items: center;
						display: flex;

						&::after {
							// display:none;
							width:auto;
							height:0;
							bottom:0;
							left:0;
							right:0;
							top: auto;
						}
					}

					&:hover > a::after,
					& > a.open::after {
						height: $nav-current-size;
					}

					> ul{
						left:0;
						top:$sidebar-slim * 2;
						width:100%;
					}
				}
			}
		}
		&-main {
			width:100%;
		}

		// @at-root {
		// 	body.body-nav-sticky-offset {
		// 		padding-top: $sidebar-slim * 2 !important;
		// 	}
		// }
	}

	.user-warnings {
		margin-left: $sidebar-slim;
  	}
}

%outreach-extend {
	&-mobile {
		&-info {
			&-timing {
				@include on-breakpoint(mobile) {
					& {
						p {
							display: inline;
							margin-bottom: 0 !important;
							font-size: 1rem !important;
						}
					}

					&-date {
						// color: inherit!important;
					}

					&-time {
						&:before {
							content:"at ";
						}
					}
				}
			}
		}
	}
}

.outreach {
	&-attachment-item {
		&-grid#{&} {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: $gutter-small;
		}
		&-grid#{&} & {
			&-thumbnail,
			&-details {
				min-width: 0;
			}
	
			&-thumbnail {
				justify-self: center;

				&-img {
					width:64px;
				}
	
				&-icon {
					width: 28px;
					display: block;
				}
			}
		}
	}
	&-error-container {
		padding-right: 1rem;
		margin-right: -1rem;
	}
	&-palette {
		&-tag {
			&-company {
				background-color: $brand-color-primary;
				color: $brand-color-background;
			}
		}
	}
	&-body {
		&-login {
			padding-top: 15vh;
			padding-bottom:15vh;
			background-image: linear-gradient(
				0deg,
				var(--fw-theme-color) 0%,
				var(--fw-theme-color-contrast) 100%,
			)
			;
		}
	}
	&-anon-ui-wrapper {
		max-width: 460px;
	}
	&-nav-item-container {
		justify-content:center;

		@include br(#{$mobile-br-max-polar}){
			#outreach-sidebar:hover & {
				justify-content:flex-start;
			}
		}
	}
	&-alert-container {
		width:calc(100% - #{$sidebar-slim});
	}

	&-pagination {
		@include on-breakpoint(mobile) {
			.module-header  &{
				order: -1;
			}
			.module-footer  &{
				order: 9;
			}
		}

	}

	&-table {


		.contact {
			//@TODO anticipated design tweaks
		}

		.company {
			&-upcoming {
				&-info {
					margin-top: -1em;
					@extend %outreach-extend-mobile-info-timing !optional;
				}

				&-time {
					@extend %outreach-extend-mobile-info-timing-time !optional;
				}

				&-date {
					@extend %outreach-extend-mobile-info-timing-date !optional;
				}
			}
			&-product-sold {
				// font-size: 1.125rem;
				color:inherit!important;
			}
			&-proposed-product {
				@include on-breakpoint(mobile) {
					&-name {
						font-size: 1.125em;
					}
				}
			}
		}

		.activity {
			&-created {
				&-info {
					@extend %outreach-extend-mobile-info-timing !optional;
				}

				&-time {
					@extend %outreach-extend-mobile-info-timing-time !optional;
				}

				&-date {
					@extend %outreach-extend-mobile-info-timing-date !optional;
				}
			}
		}

		.task {
			&-toggle-reminder-wrapper {
				align-items: center;

			}
			&-reminder,
			&-due {
				&-info {
					@extend %outreach-extend-mobile-info-timing !optional;
				}

				&-time {
					@extend %outreach-extend-mobile-info-timing-time !optional;
				}

				&-date {
					@extend %outreach-extend-mobile-info-timing-date !optional;
				}
			}
		}

		&-cell {
			&-columnwidth {
				@include on-breakpoint(nonmobile){
					@each $table-column-width in $table-column-widths {
						&-#{$table-column-width} {
							max-width: $table-column-width * 1px !important;
							width: $table-column-width * 1px !important;
							min-width: ($table-column-width * 1px) - 10px !important;
						}
					}
				}
			}
		}


		@include on-breakpoint(mobile) {
			@at-root table#{&} {
				&,
				td,
				tr,
				th.outreach-table-mobile-th,
				thead,
				tbody,
				tfoot {
					text-align: left!important;
					display: block!important;
					width:100%;
					height: auto !important;
				}

				/* safari fix -_- */
				/* safari fix -_- */
				thead,
				tbody,
				tfoot,
				td,th,tr {
					overflow: visible !important;
				}

				tr {
					position: relative;
					border-color: $table-cell-border-color;
					border-style: solid;
					border-bottom-width: $table-cell-border-width;

					.theme-inverse & {
						border-color: $table-cell-border-color-inverse;
					}

					.alert &,
					.theme-inverse .alert & {
						border-color: currentColor;
					}
				}

				th,td {
					border-bottom:0 !important;
					border-top: 0 !important;
				}


				th:not(.outreach-table-mobile-th) {
					display: none;
				}
			}

			&-mobile {
				&-label {
					display:inline-block !important;

					&:after {
						content:":";
						margin-right: 1em;
					}
				}
			}

			&-cell {
				&-actions {
					position:absolute;
					top:0;
					right:0;
					width: auto!important;
				}
			}
		}
	}

	&-animate {
		&-fade {
			&-leave-active,
			&-enter-active {
				transition: all $outreach-table-tr-fade-duration ease-out;
			  }

			  &-enter-from {
				transform: translateX(-20px);
				opacity: 0;

			  }
			  &-leave-to {
				transform: translateX(20px);
				opacity: 0;
			  }
		}
	}

	&-input {
		&-small-number {
			min-width: 0;
			width: 4em;
		}
	}

	&-module {
		&-sequence-insert {
			@include on-breakpoint(nonmobile){

				--rope-offset: 22px;
				--module-offset: 20px;
				--container-offset: 20px;

				margin-left: calc(var(--module-offset) * -1.5);

				.btn {
					position: relative;
					z-index: 2;
				}

				&:after {
					content:"";
					position:absolute;
					z-index:1;
					width: calc(var(--container-offset) - 3px);
					border-radius: .5rem 0 0 .5rem;
					border: 1px solid var(--fw-color-primary);
					border-right: 0;
					height:calc(100% + var(--rope-offset));
					right: 100%;
					margin-top: .75rem;
					pointer-events: none;

					.module:last-child & {
						content: none;
					}
				}
			}

		}
	}
}

.body-no-scroll {
	overflow-y: hidden;
}
.body-no-scroll .tox-tinymce-aux {
	z-index: 100000 !important;
}

form label.required:after
{
	color: red;
	content: " *";
}

.fc-daygrid-event * {
	text-decoration: inherit;
}

.full-width {
	width: 100% !important;
}


//custom fw extensions here


.tag-outreach {
	&-s {
		&-ghosted {
			background-color: #333;
			color: #7b4397;
		}
		&-formerclient {
			background-color: #c092c7;
			color: var(--fw-color-background);

		}
		&-contractsent {
			background-color: #6de1e2;
			color: var(--fw-color-base);

		}
		&-proposalsent {
			background-color: #4e9cf4;
			color: var(--fw-color-background);
		}
	}
}
