$sidebar-expanded: 240px;
$sidebar-slim: 60px;

#outreach {
	&-calendar {
		&-wrapper {
			position:fixed;
			right:0;
			top: $nav-height;
			left: $sidebar-slim;
		}
	}

	&-svg-styles {
		width:0;
		height:0;
		position:absolute;
		z-index:-9999;
		top:0;
		left:0;
		overflow:hidden;
	}

	&-header {
		left: auto;
		right:0;
		width: calc(100% - #{$sidebar-slim});


		.nav-logo {
			padding: 0 1rem;
			display:flex;
			flex-direction:column;
			justify-content: center;
			margin-right: .5em;

			svg {
				max-height: 35px;
				max-width: 100%;
				width: auto;
			}
		}

		&-nav {

			.nav-list {

				@include dump-styles(no-scrollbar);
				@include br(#{$mobile-br-max}-max){
					position:absolute;
					top:100%;
					left:0;
					height: calc(100vh - #{$nav-height});
					overflow-y:scroll;
				}
			}
		}
	}

	&-sidebar {
		width: $sidebar-slim;
		transition: .125s ease-in-out width;
		box-shadow: 0 0 10px -5px color(b);
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		padding-top: 45px;
		padding-bottom: 45px;
		z-index:9999;
		overflow-y:scroll;
		overflow-x:hidden;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display:none!important;
		}

		.nav-logo {
			height: 60px;
			overflow:hidden;

			.logo-expanded {
				max-width:none;
				width: 197px;
			}

		}

		&-nav {

			li  {

				> .dropdown,
				> ul {
					position:fixed;
					top: 0;
					bottom:0;
					left: $sidebar-slim;
					overflow-y:scroll;
					overflow-x:hidden;
					width: 200px;
					text-align:left;
					z-index:99;
					box-shadow:inset 3px 0 5px -5px #000,3px 0 5px -5px #000;
					transition: .125s ease-in-out left;

					&::-webkit-scrollbar {
						display:none!important;
					}

					padding: 45px $gutter-base;

					@include br(#{$mobile-br-max-polar}) {
						#outreach-sidebar:hover & {
							left: $sidebar-expanded;
							transition: .25s ease-in-out left;
						}
					}
				}
			}
		}

		@include br(#{$mobile-br-max-polar}) {
			&:hover{

				transition: .25s ease-in-out width;
				width: $sidebar-expanded;
			}
		}
	}

	&-main {
		width:calc(100% - #{$sidebar-slim});
		padding-top: $container-gutter;
		padding-bottom: $container-gutter;
		margin-left: auto;
	}

	&-dynamic {
		&-alert-container {
			left: $sidebar-slim;
			top: $nav-height;
			// margin-left: $gutter-small * -1;
			// margin-top: $gutter-small * -1;
			max-width:400px;
			z-index:99;
			width: 400px;
			max-width: 72%;
			padding: $gutter-small 0 0 $gutter-small;

			.alert {
				box-shadow: 0 2px 10px -5px $var-color-base;
			}
		}
	}
}


.outreach {
	&-body {
		&-login {
			padding-top: 15vh;
			padding-bottom:15vh;
			background-image: linear-gradient(
				0deg,
				var(--fw-theme-color) 0%,
				var(--fw-theme-color-contrast) 100%,
			)
			;
		}
	}
	&-anon-ui-wrapper {
		max-width: 460px;
	}
	&-nav-item-container {
		justify-content:center;

		@include br(#{$mobile-br-max-polar}){
			#outreach-sidebar:hover & {
				justify-content:flex-start;
			}
		}
	}
}

.body-no-scroll {
  overflow-y: hidden;
}
.body-no-scroll .tox-tinymce-aux {
  z-index: 100000 !important;
}

form label.required:after
{
  color: red;
  content: " *";
}

.fc-daygrid-event * {
	text-decoration: inherit;
}
