// variables to override framework defaults
$brand-font-primary: 'Inter',Helvetica,Arial,sans-serif;
$brand-font-secondary: $brand-font-primary;
$brand-font-accent: $brand-font-primary;


$symbol-font-path: '/assets/plugins/framework/dist/fonts/fw-icons';

// $brand-theme-background-inverse: #151e39;
// $brand-theme-background-contrast-inverse: #0f102e;

// $brand-color-base-alt: #3d3d3d;


// $brand-color-base: #24212c;
// $brand-color-base-alt: #3b394b;


$brand-color-base: #040849;
$brand-color-base-alt: #0F2060;
$brand-color-background-alt: #ECF0F7;

$brand-color-primary: #3981DC;
$brand-color-secondary: #9C6CC6; //F204A2
$brand-color-accent: #4d60eb; //F204A2
$brand-color-neutral: #687DA5;
$brand-color-error:#fd6234;
$brand-color-caution:#fd9934;
$brand-color-success:#6CC6A7;

// $brand-gradient-end: $brand-color-accent;



// $brand-color-success: #64B4AE !default;


$body-font-size: 15px;
$body-font-size-small: 13px;

$h1-font-size: 25px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;

$module-title-font-size: 12px;
$module-grid-title-text-transform: uppercase;
$module-title-text-transform: uppercase;

$input-line-height: 1.375;
$btn-font-weight: 500;
// // $nav-top-font-weight: 600;
// $tag-font-weight: 600;
// $input-label-font-weight: 600;
// $input-font-weight: 600;
// $nav-top-font-weight: 500 !default;

$input-height: 32px;
$input-padding-x: .625em;

$input-toggle-width: 2em;
$input-toggle-plate-height: .625em;
$input-toggle-node-height: 1em;
$input-toggle-plate-background-color-active: var(--fw-color-primary);
$input-toggle-plate-border-color-active: currentColor;
$input-toggle-node-border-color-active: currentColor;

$gutter-base: 20px;


$nav-top-font-size: 14px;
$tag-font-size: 12px;
 

$thumbnail-size-micro: 45px;
$thumbnail-font-size-micro: 18px;
