

$sidebar-base: 285px;
$sidebar-mobile: 245px;
$sidebar-base-slim: 80px;
// $sidebar-xs: 60px;


//fixy bois
.module-content td {
	max-width: 300px;
}

//custom

#dashboard {
	
	&-svg-styles {
		width:0;
		height:0;
		position:absolute;
		z-index:-9999;
		top:0;
		left:0;
		overflow:hidden;
	}
	&-block {
		// &-sidebar,&-main {
		// }

	&-nav {


		.nav-logo {
			padding: 0 1rem;	
			display:flex;
			flex-direction:column;
			justify-content: center;
			margin-right: .5em;
		
			svg {
				max-height: 35px;
				max-width: 100%;
				width: auto;
			}
		}
	}

		&-sidebar {
			width: $sidebar-base;
			box-shadow: 0 0 10px -5px color(b);
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			padding-top: 45px;
			padding-bottom: 45px;
			z-index:99999;
			overflow-y:scroll;
			overflow-x:hidden;
			height: 100vh;

			&.dashboard-block-sidebar-slim {
				width: $sidebar-base-slim;
				z-index:auto;
			}

			&::-webkit-scrollbar {
				display:none!important;
			}

			// .container {
			// 	opacity: 1;
			// 	transition: opacity $transition-duration-base $transition-timing;

			// 	body.body-loading & {
			// 		opacity: 0;
			// 	}
			// }

			.sidebar {
				&-logo {

					&,
					img,
					svg {
						margin: 0 auto 65px;
						display:block;
					}
				}
			}

			&-nav {
				margin: 0 ($container-gutter-wide * -1);

				&:first-child {
					margin-top: 50px;
				}

				.nav-list .nav-item  {
					> .dropdown,
					> ul {

						width:calc(100% - #{$nav-gutter-x} - #{$nav-icon-width} - 1.5rem);
						margin-right: 0;
					}
				}
			}

			@include br(#{$mobile-br-max}-max) {
				&:not(.dashboard-block-sidebar-slim) {
					width:$sidebar-mobile;
				}
				&-nav {
					margin: 0 ($container-gutter-mobile * -1);
				}
			}

			@include br(xs-max) {
				&:not(.dashboard-block-sidebar-slim) {
					left: -100%;
					transition: left $transition-duration-base $transition-timing;

					&.open {
						left:0;
					}
				}
			}
		}

		&-main {
			width:calc(100% - #{$sidebar-base});
			padding-top: $container-gutter;
			padding-bottom: $container-gutter;
			margin-left: auto;

			.dashboard-block-sidebar-slim  + & {
				width:calc(100% - #{$sidebar-base-slim});
			}

			&-nav {
				left: $sidebar-base;
				z-index:99998;
				justify-content: space-between;

				&-toggle {
					transition: left $transition-duration-base $transition-timing;
					position:relative;
					z-index:99999;
					left:0;
				}
			}

			@keyframes dashboardLoading {
				0% {
					content:"Loading Stuff.";
				}
				50% {
					content:"Loading Stuff..";
				}
				100% {
					content:"Loading Stuff...";
				}
			}

			@at-root .body-loading #content-wrapper {
				&:before {
					animation-name: dashboardLoading;
					animation-duration: .5s;
					animation-fill-mode: both;
					animation-iteration-count: infinite;
					content:"Loading Stuff...";
					display:block;
					font-size: 24px;
					opacity: .2;
					position:absolute;
					top:calc(#{$nav-height} + 2em);
					left:calc(#{$sidebar-base} + 2em);
					transition: opacity $transition-duration-base $transition-timing;

					.body-loaded & {
						opacity:0;
					}
				}
			}

			@at-root #nav {
				&-search {
					margin-right: auto;
					flex: 1 1;
					overflow-x:hidden;
					
					position:relative;

					.btn {
						width:auto;
						padding-right:0;
						padding-left: 30px;
						order:-1;
					}

					.input {
						padding-left: 10px;
						border-color: transparent;
						background-color: transparent;
						font-size: rem(16px/ $body-font-size);
					}

					.symbol-search {
	
						&:before {
							border-width: em(3px/24px);
						}
	
						&:after {
							width: em(3px/24px);
						}
					}
				}
				&-account {
					display: flex;
					align-items: center;
					position: relative;
				}
			}

			@include br(#{$mobile-br-max}-max) {
				width:calc(100% - #{$sidebar-mobile});
				padding-top: $container-gutter-mobile;
				padding-bottom: $container-gutter-mobile;
	
				&-nav {
					left: $sidebar-mobile;
				}

			}

			@include br(xs-max) {
				padding-top: $gutter-micro;
				padding-bottom: $gutter-micro;
				width: 100%;

				&-nav {
					left: 0;

					&-toggle {
	
						&.open {
							left: $sidebar-mobile;
						}
					}
				}

				@at-root #content-wrapper {
					&:before {
						left: 2em;
					}
				}

				@at-root #nav {
					&-search {
	
						.btn {
							padding-left:.125em;
						}
					}
				}
			}
		}
	}
}

// .body-modal-active {
// 	overflow-y: hidden;
//   }
//   .body-modal-active .tox-tinymce-aux {
// 	z-index: 99999 !important;
//   }


#nav {

	&-notification {

		.tag {
			position: absolute;
			top: 1em;
			right: -.5em;
		}
	}
}



.dashboard {




	&-board-partition {
		padding: 50px 0;
	}


	//if this doesnt work pls comment out. add this to `.table-wrapper` that is NOT within a flex grid
	&-table-wrapper-gutterless {
		margin : 0 -25px;
		width: auto;
	}
	
	&-table {
		&-icon-flush-left {
			//something something
		}
		&-cell {
			//holy grail
			&-max {

				width: 275px;
				max-width: 275px!important;
				min-width: 275px!important;
			}
		}

		&-row {
			//accordion infused table like in timertracker/team.php
			&-accordion {
				&-header {

				}

				&-body {
					box-shadow: inset 0 20px 10px -20px rgba($brand-color-base,.2);

					td:first-child {
						padding-left: $btn-height * 1.125;
					}
				}
			}
		}
	}

	&-board {
		&-column-layout {
			&-container {
				flex: 1 1;
				@include br(#{$mobile-br-max}){
					display: flex;
					flex-wrap: wrap;
				}
			}
			.board-popup-content {
				display: flex;
				flex-direction: column;
			}

			&-main {


				@include br(#{$mobile-br-max}){
					width: calc(100% - 250px);
				}


				@include br(lg){
					width: calc(100% - 390px);
				}
			}

			&-side {
				flex: 0 0 auto;
				@include br(#{$mobile-br-max}){
					width: 250px;
				}


				@include br(lg){
					width: 390px;
				}
			}
		}
	}
}