
//filters
#projects-production .module-header .filter-dropdown-date,
#profile-production-associated .module-header .filter-dropdown-date {
	margin-right: auto;
}


.dashboard {
	
	&-table {
		&-cell {


			&-log-project,
			&-log-task {
				min-width: 250px;
				max-width: 250px!important;
			}
			&-log-client {
				min-width: 160px;
				max-width: 160px!important;
			}

			&-log-project,
			&-log-task,
			&-log-client {
				.text-wrap-ellipsis {
					max-width: 75%!important;
					vertical-align: middle;
					display: inline-block;
					min-width: 160px; //wait
				}
			}

		}
	}
}
