

$sidebar-base: 285px;
$sidebar-mobile: 245px;
// $sidebar-xs: 60px;


//filters
#projects-production .module-header .filter-dropdown-date,
#profile-production-associated .module-header .filter-dropdown-date {
	margin-right: auto;
}

//fixy bois
.module-content td {
	max-width: 300px;
}

//custom

.dashboard {
	
	&-table {
		&-cell {
			&-thumbnail {
				min-width: 90px; 
				text-align:center;
			}
			&-name {
				min-width: 260px;
			}

			&-action {

				width: 100px;
			}

			&-url {
				max-width: 350px;
				min-width: 350px;
			}


			&-log-project,
			&-log-task {
				min-width: 250px;
				max-width: 250px;
			}
			&-log-client {
				min-width: 160px;
				max-width: 160px;
			}

			&-log-project,
			&-log-task,
			&-log-client {
				.text-wrap-ellipsis {
					max-width: 75%!important;
					vertical-align: middle;
					display: inline-block;
					min-width: 160px; //wait
				}
			}

		}
	}
}


#dashboard {
	
	&-svg-styles {
		width:0;
		height:0;
		position:absolute;
		z-index:-9999;
		top:0;
		left:0;
		overflow:hidden;
	}
	&-block {
		// &-sidebar,&-main {
		// }
		&-sidebar {
			width: $sidebar-base;
			box-shadow: 0 0 10px -5px color(b);
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			padding-top: 45px;
			padding-bottom: 45px;
			z-index:99999;
			overflow-y:scroll;
			overflow-x:hidden;
			height: 100vh;

			&::-webkit-scrollbar {
				display:none!important;
			}

			// .container {
			// 	opacity: 1;
			// 	transition: opacity $transition-duration-base $transition-timing;

			// 	body.body-loading & {
			// 		opacity: 0;
			// 	}
			// }

			.sidebar {
				&-logo {

					&,
					img,
					svg {
						margin: 0 auto 65px;
						display:block;
					}
				}
			}

			&-nav {
				margin: 0 ($container-gutter-wide * -1);

				.nav-list .nav-item  {
					> .dropdown,
					> ul {

						width:calc(100% - #{$nav-gutter-x} - #{$nav-icon-width} - 1.5rem);
						margin-right: 0;
					}
				}
			}

			@include br(#{$mobile-br-max}-max) {
				width:$sidebar-mobile;
				&-nav {
					margin: 0 ($container-gutter-mobile * -1);
				}
			}

			@include br(xs-max) {
				left: -100%;
				transition: left $transition-duration-base $transition-timing;

				&.open {
					left:0;
				}
			}
		}

		&-main {
			width:calc(100% - #{$sidebar-base});
			padding-top: $container-gutter;
			padding-bottom: $container-gutter;
			margin-left: auto;

			&-nav {
				left: $sidebar-base;
				z-index:99998;
				justify-content: space-between;

				&-toggle {
					transition: left $transition-duration-base $transition-timing;
					position:relative;
					z-index:99999;
					left:0;
				}
			}

			@keyframes dashboardLoading {
				0% {
					content:"Loading.";
				}
				50% {
					content:"Loading..";
				}
				100% {
					content:"Loading...";
				}
			}

			@at-root .body-loading #content-wrapper {
				&:before {
					animation-name: dashboardLoading;
					animation-duration: .5s;
					animation-fill-mode: both;
					animation-iteration-count: infinite;
					content:"Loading...";
					display:block;
					font-size: 24px;
					opacity: .2;
					position:absolute;
					top:calc(#{$nav-height} + 2em);
					left:calc(#{$sidebar-base} + 2em);
					transition: opacity $transition-duration-base $transition-timing;

					.body-loaded & {
						opacity:0;
					}
				}
			}

			@at-root #nav {
				&-search {
					margin-right: auto;
					flex: 1 1;
					overflow-x:hidden;
					
					position:relative;

					.btn {
						width:auto;
						padding-right:0;
						padding-left: 30px;
						order:-1;
					}

					.input {
						padding-left: 10px;
						border-color: transparent;
						background-color: transparent;
						font-size: em(18px/ $body-font-size);
					}

					.symbol-search {
	
						&:before {
							border-width: em(3px/24px);
						}
	
						&:after {
							width: em(3px/24px);
						}
					}
				}
				&-account {
					display: flex;
					align-items: center;
					position: relative;
				}
			}

			@include br(#{$mobile-br-max}-max) {
				width:calc(100% - #{$sidebar-mobile});
				padding-top: $container-gutter-mobile;
				padding-bottom: $container-gutter-mobile;
	
				&-nav {
					left: $sidebar-mobile;
				}

			}

			@include br(xs-max) {
				padding-top: $gutter-micro;
				padding-bottom: $gutter-micro;
				width: 100%;

				&-nav {
					left: 0;

					&-toggle {
	
						&.open {
							left: $sidebar-mobile;
						}
					}
				}

				@at-root #content-wrapper {
					&:before {
						left: 2em;
					}
				}

				@at-root #nav {
					&-search {
	
						.btn {
							padding-left:.125em;
						}
					}
				}
			}
		}
	}
}

// .body-modal-active {
// 	overflow-y: hidden;
//   }
//   .body-modal-active .tox-tinymce-aux {
// 	z-index: 99999 !important;
//   }