$soft-shadow: 0px 3px 6px rgba(#BFCBD8, .80);

.soft-shadow {
    box-shadow: $soft-shadow !important;
}

.white-bg {
    background: #fff !important;
    background-color: #fff !important;
}

#workflow-projects {
    .btn {
        font-size: 14px;
        padding-top: calc( ( (3em - (1px * 2)) - (1em * 1.25) ) * .5);
        padding-bottom: calc( ( (3em - (1px * 2)) - (1em * 1.25) ) * .5);
        min-height: 3em;
    }
    .input-select:not([multiple]) {
        padding-right: 2.25em;
    }
    .input-tags-ui, .input-calendar-ui, .input-multiple-line, .input-select, .input-single-line {
        padding-top: calc( ( (3rem - (1px * 2)) - (1em * 1.5) ) * .5);
        padding-bottom: calc( ( (3rem - (1px * 2)) - (1em * 1.5) ) * .5);
    }
    .btn-symbol {
        width: 3.25em;
        border-left: none;
        i {
            font-size: 12px;
        }
    }
    .symbol-plus {
        font-size: 10px;
    }
    .fw-ui {
        border-left: none;
        border-right: none;
    }   
    .dashboard-table-cell-max {
        width: 230px;
        max-width: 230px !important;
        min-width: 230px !important;
    }

    th, td, .table-cell, .table-cell.table-cell-heading {
        padding-left: 0px;
        padding-right: 0px;
    }

    .table-small td, .table-small .table-cell {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .dashboard-table-cell-fave .task-favorite {
        display: block;
        text-align: center;
    }
    .dashboard-table-cell-action {
        max-width: 60px;
        width: 60px;
        .thumbnail.thumbnail-small {
            font-size: 2.5rem;
        }
    }
    .dashboard-block-sidebar-slim + #dashboard-block-main {
        background: #F6F6F6;
    }
    th, .table-cell.table-cell-heading {
        background: #EFF4F8;
    }
    .module {
        border: none;
        margin-bottom: 25px;
        box-shadow: 0px 3px 6px #bfcbd8;
    }

    tr, .table-row {
        border-bottom: none;
    }
    tr:not(:last-child), .table-row:not(:last-child) {
        border-bottom: 1px solid #DDDEE1;
    }
    .table-small tr th:first-of-type {
        width: 45px;
        max-width: 45px;
        min-width: 45px;
    }
    .table-small tr th:last-of-type {
        width: 25px;
        max-width: 25px;
        min-width: 25px;
    }
    .flex-grid-compact {
        margin-bottom: 35px;
    }

}

#workflow-project-detail {
    .container {
        max-width: 1580px;
    }
    .split-column {
        display: flex;
    }
    .split-column .left {
        max-width: 1050px;
        width: 100%;
        margin-right: 20px;
    }
    .split-column .right {
        max-width: 350px;
        width: 100%;
    }
    .module-header {
        .btn {
            padding-top: calc( ( (3em - (1px * 2)) - (1em * 1.25) ) * .5);
            padding-bottom: calc( ( (3em - (1px * 2)) - (1em * 1.25) ) * .5);
            min-height: 3em;
        }
    }
    .module-content {
        th, .table-cell.table-cell-heading {
            background: #EFF4F8;
        }
    }
    #wiki-how-tos,
    #documents-files {
        margin-bottom: 50px;
    }
    .tab, .tabs > li {
        font-weight: 400;
        font-size: 18px;
    }
    table {
        .thumbnail.thumbnail-small {
            font-size: 2.15rem;
        }
    }
    .comments-editor {
        margin-bottom: 40px;
    }
    .split-column .right .task-complete-toggle .flex-child:first-child {
        width: calc(100% - 78px);
    }
    .split-column .right .task-complete-toggle .flex-child:last-child {
        margin-left: 10px;
    }
    #project-actions {
        display: flex;
        grid-gap: 10px;
        .btn-symbol {
            min-width: 50px;
            width: 50px;
            background: #fff;
        }
    }
}
#dashboard-block-main {
    background-color: #F7F7F7;
}