//google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');




/*! 
CUSTOM VARIABLES FOR FRAMEWORK IF ANY
****************************************************************************/

$br-xs-max: 767px;
$br-sm-max: 1279px;
$br-md-max: 1699px;

$brand-font-primary: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$brand-font-accent: $brand-font-primary;
$brand-font-monospace: 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace;

$theme-background-inverse: #292440;
$theme-background-contrast-inverse: #1F1B30;

$brand-color-primary: #0480FE;
$brand-color-secondary: #F204A2;
$brand-color-accent: #1a38d2;

$brand-color-base-alt: #3d3d3d;
$brand-color-background-alt: #ecedf0;

$brand-color-intensity-1: $brand-color-primary;
$brand-color-intensity-2: #4b5be3;
$brand-color-intensity-3: #843ecd;
$brand-color-intensity-4: $brand-color-secondary;
$brand-color-intensity-5: #F204A2;

$body-font-size: 14px;

$module-grid-title-text-transform: uppercase;
$module-title-text-transform: uppercase;


$btn-font-weight: 600;
$nav-top-font-weight: 600;
$tag-font-weight: 600;
$input-label-font-weight: 600;
$input-font-weight: 600;

// $debug: true;


$input-height-large: 50px;

// $body-font-weight-bold:900;

/*! 
FRAMEWORK / SCAFFOLDING STYLES
****************************************************************************/
	@import '../plugins/framework/scss/framework.scss';


/*! 
SHARED HELPERS/CUSTOMIZATIONS. used by both timetracker and dashboard
****************************************************************************/
	@import '_apps';
	
/*! 
APPS / OUR CUSTOM STYLES
****************************************************************************/
	@import '_dashboard';
	@import '_timetracker';