//google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');




/*! 
CUSTOM VARIABLES FOR FRAMEWORK IF ANY
****************************************************************************/

$br-xs-max: 600px;
$br-sm-max: 1200px;
$br-md-max: 1500px;
$br-lg-max: 1800px;


$brand-font-primary: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$brand-font-secondary: $brand-font-primary;
$brand-font-monospace: 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace;

$theme-background-inverse: #302a4b;
$theme-background-contrast-inverse: #1e1931;

$brand-color-primary: #0480FE;
$brand-color-secondary: #F204A2;
$brand-color-accent: #894EC7;

$brand-color-success: #64B4AE !default;

$brand-color-base-alt: #3d3d3d;
$brand-color-background-alt: #ecedf0;

$brand-color-intensity-1: $brand-color-primary;
$brand-color-intensity-5: $brand-color-secondary;

$body-font-size: 14px;

$module-grid-title-text-transform: uppercase;
$module-title-text-transform: uppercase;


$btn-font-weight: 600;
$nav-top-font-weight: 600;
$tag-font-weight: 600;
$input-label-font-weight: 600;
$input-font-weight: 600;

// $debug: true;


$input-height-large: 50px;

// $body-font-weight-bold:700;

/*
$tag-default-color: inherit !default;
$tag-default-background: rgba($brand-color-base,.2) !default;


	$tag-primary-color: $brand-color-primary !default;
	$tag-primary-background: $brand-color-primary-lightest !default;

	$tag-secondary-color: $brand-color-secondary !default;
	$tag-secondary-background: $brand-color-secondary-lightest !default;

	$tag-accent-color: $brand-color-accent !default;
	$tag-accent-background: $brand-color-accent-lightest !default;

	$tag-neutral-color: $brand-color-neutral !default;
	$tag-neutral-background: $brand-color-neutral-lightest !default;

	$tag-success-color: $brand-color-success !default;
	$tag-success-background: $brand-color-success-lightest !default;

	$tag-caution-color: $brand-color-caution !default;
	$tag-caution-background: $brand-color-caution-lightest !default;

	$tag-error-color: $brand-color-error !default;
	$tag-error-background: $brand-color-error-lightest !default;



	$tag-intensity-1-color: $brand-color-intensity-1 !default;
	$tag-intensity-1-background: $brand-color-intensity-1-lightest !default;

	$tag-intensity-2-color: $brand-color-intensity-2 !default;
	$tag-intensity-2-background: $brand-color-intensity-2-lightest !default;

	$tag-intensity-3-color: $brand-color-intensity-3 !default;
	$tag-intensity-3-background: $brand-color-intensity-3-lightest !default;

	$tag-intensity-4-color: $brand-color-intensity-4 !default;
	$tag-intensity-4-background: $brand-color-intensity-4-lightest !default;

	$tag-intensity-5-color: $brand-color-intensity-5 !default;
	$tag-intensity-5-background: $brand-color-intensity-5-lightest !default;

	*/

/*! 
FRAMEWORK / SCAFFOLDING STYLES
****************************************************************************/
	@import '../plugins/framework/scss/framework.scss';


/*! 
SHARED HELPERS/CUSTOMIZATIONS. used by both timetracker and dashboard
****************************************************************************/
	@import '_apps';
	
/*! 
APPS / OUR CUSTOM STYLES
****************************************************************************/
	@import '_dashboard';
	@import '_timetracker';