

$sidebar-base: 285px;
$sidebar-sm: 80px;
$sidebar-xs: 60px;


//custom




#dashboard {
	
	&-svg-styles {
		width:0;
		height:0;
		position:absolute;
		z-index:-9999;
		top:0;
		left:0;
		overflow:hidden;
	}
	&-block {
		&-sidebar,&-main {
		}
		&-sidebar {
			width: $sidebar-base;
			box-shadow: 0 0 10px -5px color(b);
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			padding-top: 45px;
			padding-bottom: 45px;
			z-index:99999;
			overflow-y:scroll;
			overflow-x:hidden;
			height: 100vh;

			&::-webkit-scrollbar {
				display:none!important;
			}

			.sidebar {
				&-logo {

					&,
					img,
					svg {
						margin: 0 auto 65px;
						display:block;
					}
				}
			}

			&-nav {
				margin: 0 ($container-gutter-wide * -1);

				.nav-list .nav-item > .dropdown {
					width:calc(100% - 30px - 1.5rem);
					margin-right: 0;
				}
			}

			@include br(sm-max) {
				width: $sidebar-sm;
				text-align:center;

				&-nav {
					margin: 0 ($container-gutter-mobile * -1);
				}
			}

			@include br(xs-max) {
				width: $sidebar-xs;
			}
		}

		&-main {
			width:calc(100% - #{$sidebar-base});
			padding-top: 50px;
			padding-bottom: 50px;
			margin-left: auto;

			&-nav {
				left: $sidebar-base;
				z-index:99998;
				justify-content: space-between;

				form .symbol-search {
					font-size: rem(24px / $body-font-size);

					&:before {
						border-width: em(3px/24px);
					}

					&:after {
						width: em(3px/24px);
					}
				}
			}

			@at-root #nav-account {

				display: flex;
				align-items: center;
				position: relative;
			}

			@include br(sm-max) {
				padding-top: $gutter-micro;
				padding-bottom: $gutter-micro;
				width:calc(100% - #{$sidebar-sm});

				&-nav {
					left: $sidebar-sm;
				}
			}


			@include br(xs-max) {
				width:calc(100% - #{$sidebar-xs});

				&-nav {
					left: $sidebar-xs;
				}
			}
		}
	}
}